nav {
    display: flex;
    justify-content: flex-end;
}

/*.margharita:hover {*/
/*    cursor: pointer;*/

/*}*/

.form-check-input {
    background-color: blue;
    height: 100px;
    width: 150px;
}

.form-check-input.pressed {
    background-color: red;
}