nav {
    display: flex;
    justify-content: flex-end;
}

/*.margharita:hover {*/
/*    cursor: pointer;*/

/*}*/


#size-price,
#toppings-price {
    display: none;
}


#toppings {
    border: 2px black;
}